@import "../mixins";
.skill-circle {
  width: rem(110px);
  height: rem(110px);
  position: absolute;
  top: 0;
  left: 0;
  background: lightgray;
  border-radius: 50%;
  transform: rotate(-90deg);
  @include large {
    width: rem(120px);
    height: rem(120px);
  }
}
.skill-circle .inner {
  fill: #eeebdf;
}
.skill-circle .outer {
  fill: none;
  stroke: rgb(0,191,165);
  stroke-width: 32;
  stroke-dasharray: 1 100;
  transition: stroke-dasharray .8s;
//  animation: circle 2s linear;
//  -webkit-animation-fill-mode: forwards;
//  -moz-animation-fill-mode: forwards;
//  -o-animation-fill-mode: forwards;
//  animation-fill-mode: forwards;
}

//@keyframes circle {
//  to {
//    stroke-dasharray: 100 100;
//  }
//}
@for $i from 0 through 100 {
  .skill-circle_#{$i} {
    opacity: (25 + ($i * 3 / 4)) / 100;
    .outer {
      stroke-dasharray: ($i + 1) 100;
    }
  }
}