@import "../../mixins";
@import "../../variables";

.message-block {
  display: none;
  position: absolute;
  z-index: 21;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: rem(200px);
  height: rem(150px);
  @include border-radius(.35rem);
  background-color: #fff;
  text-align: center;
}

.message-block__text {
  font-size: rem(16px);
  text-align: center;
  color: $titlecolor;
}

.message-block__button {
  display: inline-block;
  width: rem(100px);
  height: rem(40px);
  background-color: $green100;
  color: #fff;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}