include common/_mixins
doctype html
html(lang="ru-RU")
  include common/_head
  body
    include common/_browsehappy
    block header
      header.header-works-screen
        div.header-works-top
          ul.header-works-social
            li.header-works-social__item
              a.header-works-social__link.header-works-social__link_vk-white(href="vk.com")
                +use('vk', 'svg-vk-dims_wh')
            li.header-works-social__item
              a.header-works-social__link.header-works-social__link_gh-white(href="github.com")
                +use('github', 'svg-github-dims_wh')
            li.header-works-social__item
              a.header-works-social__link.header-works-social__link_li-white(href="linkedin.com")
                +use('in', 'svg-in-dims_wh')
          div.header-works-menu
            input.header-works-menu__check(type="checkbox" name="checkbox" id="menu-checkbox")
            label.header-works-menu__label(for="menu-checkbox")
              div.line.line_top
              div.line.line_mid
              div.line.line_bot
        div.header-works-bottom
          +use('portfolio_header', 'svg-portfolio_header-works')
          div.header-works-person
            div.header-avatar
              img.header-avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
            h3.header-works-bottom__title Дмитрий Гавриш
            p.header-works-bottom__desc Личный сайт веб-разработчика
        div.arrow
          div.arrow__down
            +use('arrow_down','svg-arrow_down-dims')
        div.triangles_works
          div.triangles-left_works
          div.triangles-right_works
    block content
    block footer-page
      - var page = 'works'
    block footer
      footer.summary-blog
        div.summary-blog-menu
          ul.summary-blog-pages
            li.summary-blog-pages__item
              a.summary-blog-pages__link.summary-blog-pages__link_works(href="#") Мои работы
            li.summary-blog-pages__item
              a.summary-blog-pages__link.summary-blog-pages__link_about(href="about.html") Обо мне
            li.summary-blog-pages__item
              a.summary-blog-pages__link.summary-blog-pages__link_blog(href="blog.html") Блог
            li.summary-blog-pages__item
              a.summary-blog-pages__link.summary-blog-pages__link_main(href="index.html") Авторизация
          ul.summary-blog-social
            li.summary-blog-social__item
              a.summary-blog-social__link.summary-blog-social__link_vk(href="vk.com" target="_blank")
                +use('vk_round','svg-vk_round-blog')
                img.summary-blog__icon(src="assets/img/vk.png" alt="vk icon")
            li.summary-blog-social__item
              a.summary-blog-social__link.summary-blog-social__link_gh(href="github.com" target="_blank")
                +use('github_round','svg-github_round-blog')
                img.summary-blog__icon(src="assets/img/github.png" alt="github icon")
            li.summary-blog-social__item
              a.summary-blog-social__link.summary-blog-social__link_li(href="linkedin.com" target="_blank")
                +use('in_round','svg-in_round-blog')
                img.summary-blog__icon(src="assets/img/in.png" alt="linkedin icon")
        div.summary-blog-content
          p.summary-blog-content__info.
            Я веб разработчик из Москвы, и этот сайт я сделал в рамках
            обучения в LoftSchool
          p.summary-blog-content__copyright &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016