include common/_mixins
doctype html
html(lang="ru-RU")
  include common/_head
  body
    include common/_browsehappy
    block header
      header.header-screen
        div.header-top
          ul.header-social
            li.header-social__item
              a.header-social__link.header-social__link_vk-white(href="vk.com")
                +use('vk', 'svg-vk-dims_wh')
            li.header-social__item
              a.header-social__link.header-social__link_gh-white(href="github.com")
                +use('github', 'svg-github-dims_wh')
            li.header-social__item
              a.header-social__link.header-social__link_li-white(href="linkedin.com")
                +use('in', 'svg-in-dims_wh')
          div.header-menu
            input.header-menu__check(type="checkbox" name="checkbox" id="menu-checkbox")
            label.header-menu__label(for="menu-checkbox")
              div.link-line.link-line_top
              div.link-line.link-line_mid
              div.link-line.link-line_bot
        div.header-bottom
          div.header-name
            +use('portfolio_header', 'svg-portfolio_header-dims')
          div.header-person
            div.header-avatar
              img.header-avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
            h3.header-bottom__title Дмитрий Гавриш
            p.header-bottom__desc Личный сайт веб-разработчика
        div.arrow
          div.arrow__down
            +use('arrow_down','svg-arrow_down-dims')
        div.triangles
          div.triangles-left
            //+use('about_bg_left', 'svg-about_bg_left-dims')
          div.triangles-right
            //+use('about_bg_right', 'svg-about_bg_right-dims')
    block content
    block footer-page
      - var page = 'index'
    block footer
      include common/_footer
    script(type="text/javascript").
      var map;
      function initMap() {
        var styles = [
          {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#444444"
              }
            ]
          },
          {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
              {
                "color": "#f2f2f2"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
              {
                "saturation": -100
              },
              {
                "lightness": 45
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
              {
                "color": "#61dac9"
              },
              {
                "visibility": "on"
              },
              {
                "saturation": "0"
              }
            ]
          }
        ];
        var styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"});

        var mapOptions = {
          zoom: 14,
          center: new google.maps.LatLng(55.677323, 37.740395),
          mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
          }
        };
        var map = new google.maps.Map(document.getElementById('map'),
                mapOptions);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(55.677323, 37.76),
          map: map,
          icon: 'assets/img/map_marker.svg'
        });
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
      }

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTR4SmCGot4Blf76TpDziAKP7-rHwts9A&callback=initMap")