include common/_mixins
doctype html
html(lang="ru-RU")
  include common/_head
  body
    include common/_browsehappy
    block header
      header.header
        div.header__top
          div.header__social
            a.social__vk_white(href="vk.com")
            a.social__gh_white(href="github.com")
            a.social__li_white(href="linkedin.com")
          div.header__menu
            a.header__menu__link
        div.header__bottom
          div.header__avatar
            img.avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
          h3.header__name Дмитрий Гавриш
          p.header__description Личный сайт веб-разработчика
        div.header__arrow
          div.arrow__down
    block content
    block footer-page
      - var page = 'index'
    block footer
      include common/_footer