@import "../variables";
@import "../mixins";
@import "../animation";
@import "../templates/main_header";
@import "../templates/svg_circles";
.main-about {
  width: 100%;
  font-size: 0;
  height: 130%;
  @include large {
    height: 100%;
  }
}

.about-info, .about-skills {
  position: relative;
  width: 50%;
  padding-bottom: 2.5rem;
  display: inline-block;
  vertical-align: top;
  min-height: 10rem;
  height: 100%;
  @include tablet {
    display: block;
    width: 100%;
  }
}
.about-info {
  background-color: #efeee9;
  @include tablet {
    height: rem(834px);
  }
}
.about-skills {
  background-color: #eeebdf;
  @include small {
    height: rem(1200px);
  }
}
.svg-about_header-dims {
  position: absolute;
  top: -5%;
  left: 50%;
  margin-left: -10.75rem;
  width: 21.5rem;
  height: 7rem;
  fill: rgba(#000, .07);
  @include large {
    top: -2%;
    left: 28%;
  }
  @include xl {
    left: 55%;
  }
  @include tablet {
    top: 0;
    width: rem(248px);
    left: 57%;
  }
  @include phone {
    width: rem(196px);
    top: -2%;
    left: 62%;
  }
}
.about-info__title {
  width: 15rem;
  position: relative;
  margin: 0 auto 3rem;
  text-align: center;
  font-family: 'Bernier', sans-serif;
  font-size: 3rem;
  color: #373e42;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(55, 62, 66, .2);
    top: 50%;
    margin-top: -0.175rem;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  @include large {
    position: absolute;
    top: 1rem;
    left: 15%;
  }
  @include xl {
    left: 45%;
  }
  @include tablet {
    font-size: rem(38px);
    padding-top: 3rem;
    &::before, &::after {
      margin-top: 1.5rem;
    }
  }
  @include phone {
    font-size: rem(26px);
    padding-top: 2rem;
    &::before, &::after {
      margin-top: .75rem;
    }
    &::before {
      left: 3rem;
    }
    &::after {
      right: 3rem;
    }
  }
}
.about-content{
  text-align: center;
  @include large {
    float: right;
    margin: 1rem 2rem 0 0;
  }
  @include phone {
    width: 100%;
  }
}
.about-avatar {
  display: inline-block;
  width: 27.75rem;
  height: 24.5rem;
  overflow: hidden;
  @include tablet {
    width: rem(472px);
    height: rem(418px);
  }
  @include phone {
    width: 100%;
    height: auto;
  }
}
.about-avatar__img {
  width: 27.75rem;
  @include tablet {
    width: rem(472px);
  }
  @include small {
    width: 100%;
  }
}
.about-content__title {
  width: 10rem;
  margin: 2rem auto 0;
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.about-content__title, .skills-content__title {
  position: relative;
  font-family: 'Bernier', sans-serif;
  font-size: 2.25rem;
  color: $titlecolor;
  text-transform: uppercase;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(55, 62, 66, .2);
    top: 50%;
    margin-top: -0.175rem;
  }
  @include tablet {
    font-size: 1.75rem;
  }
  @include small {
    font-size: 1.25rem;
  }
}
.about-content__text {
  width: 27.75rem;
  margin: 1rem auto 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  color: $titlecolor;
  @include small {
    width: 100%;
    margin: 1rem .5rem;
  }
}
.skills-content {
  //text-align: center;
  width: calc(100% - 4rem);
  margin: 0 auto;
  @include tablet {
    width: 100%;
  }
}
.skills-content__title {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  &::before {
    top: 1.2rem;
    left: -2rem;
    @include tablet {
      top: 3.2rem;
      left: 0;
    }
    @include small {
      top: 2.7rem;
    }
  }
  &::after {
    top: 1.2rem;
    right: -2rem;
    @include tablet {
      top: 3.2rem;
      right: 0;
    }
    @include small {
      top: 2.7rem;
    }
  }
  @include tablet {
    padding-top: 2rem;
  }
}
.skills-content__text {
  margin: 1rem auto 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 200;
  color: $titlecolor;
  @include tablet {
    width: rem(444px);
  }
  @include small {
    width: 100%;
    margin: 1rem .5rem;
  }
}
.skills-content__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: $titlecolor;
  @include tablet {
    font-size: rem(18px);
    text-align: center;
  }
}
.skills-array {
  width: 100%;
  @include tablet {
    text-align: center;
  }
}
.array-item {
  position: relative;
  display: inline-block;
  margin-right: 5%;
  &:last-child {
    margin-right: 0;
    @include tablet {
      margin-right: 5%;
    }
  }
  @include tablet {
    margin-bottom: 1rem;
  }
}
.array-item__name {
  display: block;
  text-align: center;
  width: 3.5rem;
  height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: .75rem;
  color: $green100;
}
.array-item__name_l {
  height: 2rem;
}
.contacts {
  position: relative;
  @include xs {
    top: rem(400px);
  }
}
.contacts-container {
  @include tablet {
    margin-top: rem(796px);
  }
}
.contacts-map {
  position: relative;
  width: 100%;
  height: 61rem;
  @include large {
    height: rem(1078px);
  }
  @include tablet {
    height: rem(862px);
  }
}
.map-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 61rem;
  @include large {
    height: rem(1078px) - 9.25rem;
  }
  @include tablet {
    height: rem(862px) - rem(230px);
  }
}
.contacts-plate {
  position: absolute;
  z-index: 2;
  width: 23.875rem;
  height: 18.25rem;
  background-color: $white85;
  border-radius: .35rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  @include tablet {
    width: rem(350px);
    height: rem(286px);
  }
  @include phone {
    width: rem(320px);
    //height: rem(258px);
  }
  @include small {
    width: 100%;
    border-radius: 0;
    top: 0;
    margin: 0;
    background: #fff;
  }
}
.contacts-plate__title {
  position: relative;
  font-family: 'Bernier', sans-serif;
  font-size: 2.25rem;
  color: #373e42;
  text-transform: uppercase;
  width: 20rem;
  margin: 1.75rem auto;
  text-align: center;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(55, 62, 66, .2);
    top: 50%;
    margin-top: -0.175rem;
  }
  &::before {
    top: 1.2rem;
    left: 3rem;
  }
  &::after {
    top: 1.2rem;
    right: 3rem;
  }
}
.contacts-plate__list {
  list-style: none;
}
.contacts-plate__item {
  position: relative;
  margin-bottom: 1.5rem;
}
.contacts-plate__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  //margin: auto 1rem auto 0;
  width: 1.5rem;
  height: 1.5rem;
}
.contacts-plate__text {
  margin-left: 3rem;
  color: #657981;
}
.svg-skype-dims,.svg-envelope-dims,
.svg-phone-dims,.svg-map_marker-dims {
  width: 1.5rem;
  height: 1.5rem;
  fill: $green100;
}
.summary {
  position: relative;
  z-index: 2;
  height: 9.25rem;
  background-color: rgba(#000, .7);
  margin-top: -9.25rem;
  @include tablet {
    height: rem(230px);
    margin-top: - rem(230px);
  }
  @include small {
    height: rem(270px);
  }
  @include xs {
    margin-top: rem(130px);
  }
}
.summary-menu, .summary-content {
  position: relative;
  height: 50%;
}
.summary-menu {
  border-bottom: 1px solid rgba(#fff, .5);
  @include clearfix;
}
.summary-pages,.summary-social {
  height: 100%;
  padding: 0;
  list-style: none;
  font-size: 0;
  @include tablet {
    height: auto;
    text-align: center;
  }
}
.summary-pages {
  float: left;
  @include tablet {
    float: none;
  }
}
.summary-social {
  float: right;
  @include tablet {
    float: none;
  }
}
.summary-pages__item, .summary-social__item {
  position: relative;
  height: 100%;
  display: inline-block;
}
.summary-pages__link {
  display: block;
  font-size: 1rem;
  padding: 1.6rem 2rem;
  color: white;
  text-decoration: none;
  transition: background-color .2s;
  &:hover {
    background-color: rgba(#000, .2);
  }
  @include tablet {
    margin-top: .5rem;
    padding: .8rem 1.5rem;
  }
  @include small {
    padding: .8rem .4rem;
    font-size: rem(14px);
  }
}
.summary-social__item {

}
.summary-social__link {
  position: relative;
  display: block;
  padding: 1rem 0;
  margin-right: 1rem;
  @include tablet {
    padding: .2rem 0;
  }
}
.summary-social__link_vk {
  &:hover {
    .svg-vk_round-dims {
      stroke: #000;
      fill: #fff;
    }
    .svg-vk-dims_mask {
      fill: transparent;
    }
  }
}
.summary-social__link_gh {
  &:hover {
    .svg-github_round-dims {
      stroke: #000;
      fill: #fff;
    }
    .svg-github-dims_mask {
      fill: transparent;
    }
  }
}
.summary-social__link_li {
  margin-right: 2rem;
  &:hover {
    .svg-in_round-dims {
      stroke: #000;
      fill: #fff;
    }
    .svg-in-dims_mask {
      fill: transparent;
    }
  }
}
.svg-vk_round-dims, .svg-github_round-dims, .svg-in_round-dims {
  width: 2.5rem;
  height: 2.5rem;
  fill: transparent;
  stroke: rgba(#fff, .8);
  transition: fill .2s, stroke .2s;
}
.svg-vk-dims_mask, .svg-github-dims_mask, .svg-in-dims_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(#fff, .8);
  transition: fill .2s;
}
.svg-github-dims_mask {
  width: 1.3rem;
  height: 1.3rem;
}
.svg-in-dims_mask {
  bottom: 6%;
  left: 4%;
  width: 1.2rem;
  height: 1.2rem;
}
.summary-content {
  //@include clearfix;
  &::after {
    content:'';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}
.summary-content__info, .summary-content__copyright {
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  max-height: 100%;
  margin: auto;
  color: rgba(#fff, .8);
  font-weight: 200;
  @include tablet {
    width: 100%;
    text-align: center;
  }
}
.summary-content__info {
  margin-left: 2rem;
  @include tablet {
    padding-top: 1.5rem;
    margin-left: 0;
  }
}
.summary-content__copyright {
  position: absolute;
  text-align: right;
  width: 55%;
  right: 2rem;
  padding: 1.6rem 0;
  @include tablet {
    width: 100%;
    position: static;
    text-align: center;
    padding: 1rem 0;
  }
}