@import "../variables";
@import "../mixins";
@import "../animation";

/*_____header_______*/

.header-admin {
  width: 100%;
  height: rem(80px);
  background-color: $green100;
}

.admin-wrapper {
  max-width: rem(1200px);
  padding: 0 0 0 rem(30px);
  margin: 0 auto;
}

.admin-top {
  @include clearfix;
}

.admin-top__link {
  float: right;
  font-size: rem(16px);
  padding: 0 rem(10px);
  margin-right: rem(20px);
  color: rgba(#fff, .7);
  font-weight: 200;
  line-height: rem(80px);
  transition: background-color .2s, color .2s;
  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
  &:active {
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}

.admin-top__title {
  margin: 0;
  float: left;
  color: #fff;
  font-size: rem(28px);
  line-height: rem(80px);
}

/*________menu_____________*/

.admin-menu {
  width: 100%;
  height: rem(60px);
  background-color: #f0efe9;
}

.admin-menu__tabs {
  max-width: rem(1200px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.admin-menu__tab {
  display: inline-block;
  border-right: 2px solid rgba(#fff, .7);
  &:first-child {
    border-left: 2px solid rgba(#fff, .7);
  }
}

.admin-menu__link {
  display: block;
  height: rem(60px);
  width: rem(180px);
  font-size: rem(16px);
  line-height: rem(60px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $titlecolor;
  @include transition(background-color .2s);
  &:hover {
    background-color: #fff;
  }
  &:active {
    color: #000;
  }
}

.admin-menu__tab_active {
  .admin-menu__link {
    background-color: #fff;
  }
}

/*_________admin contents_____________*/

.main-admin {
  height: calc(100% - 80px);
}

.admin-contents {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/mountains.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-height: 700px) {
  .admin-contents {
    height: calc(100% - 60px);
  }
}

.admin-contents-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .75);
}

.contents-page {
  display: none;
}

.contents-page_active {
   display: block;
}

.contents-page__title {
  margin: rem(35px) 0;
  font-size: rem(20px);
  color: $titlecolor;
}

.skills-upgrade, .add-article, .add-project {
  position: relative;
}

.skills-upgrade__submit, .add-article__submit, .add-project__submit {
  cursor: pointer;
  position: absolute;
  bottom: rem(-45px);
  display: block;
  width: rem(120px);
  height: rem(45px);
  @include border-radius(.35rem);
  color: #fff;
  background-color: $green100;
  border: 1px solid transparent;
  transition: background-color .2s, border-color .2s, color .2s, transform .1s;
  &:hover {
    background-color: #fff;
    border-color: $green100;
    color: $green100;
  }
  &:active {
    transform: translateY(2px);
  }
  &:focus {
    outline: none;
  }
}

.upgrade-block {
  width: rem(200px);
  padding-bottom: rem(18px);
}
.upgrade-block:last-of-type {
  position: absolute;
  top: 0;
  left: rem(250px);
}
.upgrade-block__title {
  font-size: rem(16px);
  margin: 0 0 rem(16px);
  color: $titlecolor;
}

.upgrade-block__label {
  display: block;
  position: relative;
  width: rem(180px);
  height: rem(32px);
  line-height: rem(32px);
  font-size: rem(16px);
  font-weight: 200;
  margin: 0 0 rem(10px) rem(20px);
  color: $titlecolor;
  &::after {
    content: '%';
    display: inline;
    position: absolute;
    right: rem(-16px);
    line-height: rem(32px);
    font-size: rem(16px);
  }
}

.upgrade-block__input {
  text-align: center;
  position: absolute;
  right: 0;
  width: rem(46px);
  height: rem(32px);
  @include border-radius(.35rem);
}

/* tab 2 */

.add-article {
  padding-bottom: rem(20px);
}
.add-article__title, .add-project__title {
  color: $titlecolor;
  font-size: rem(16px);
  margin: 0 0 rem(18px);
}

.add-article__input, .add-project__input {
  display: block;
  width: rem(300px);
  height: rem(45px);
  font-size: rem(16px);
  line-height: rem(45px);
  padding-left: rem(15px);
  @include border-radius(.35rem);
  border: none;
  margin: 0 0 rem(20px);
  &::-webkit-input-placeholder {
    color: #9b9ea0;
  }
  &:-moz-placeholder {
    color: #9b9ea0;
  }
  &::-moz-placeholder {
    color: #9b9ea0;
  }
  &:-ms-input-placeholder {
    color: #9b9ea0;
  }
  &:focus {
    outline: none;
  }
}

.add-article__text {
  display: block;
  width: rem(500px);
  height: rem(170px);
  font-size: rem(16px);
  line-height: rem(45px);
  padding-left: rem(15px);
  @include border-radius(.35rem);
  border: none;
  margin: 0 0 rem(20px);
  resize: none;
  &::-webkit-input-placeholder {
    color: #9b9ea0;
  }
  &:-moz-placeholder {
    color: #9b9ea0;
  }
  &::-moz-placeholder {
    color: #9b9ea0;
  }
  &:-ms-input-placeholder {
    color: #9b9ea0;
  }
  &:focus {
    outline: none;
  }
}

/* tab 3 */

.add-project {
  padding-bottom: rem(120px);
}

.add-project__i-input {
  display: none;
}

.add-project__image {
  position: relative;
  cursor: pointer;
  display: block;
  font-size: rem(16px);
  line-height: rem(34px);
  padding-left: rem(40px);
  max-width: rem(250px);
  color: $green85;
  @include transition(text-shadow .2s);
  &::before {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: rem(35px);
    height: rem(34px);
    background-image: url(../img/adminicon.png);
    @include transition(transform .1s);
  }
  &:hover {
    text-shadow: 1px 1px 0 #fff;
  }
  &:active {
    &::before {
      transform: scale(.9);
    }
  }
}


/*_____________media for ipad_______________*/


@media screen and (max-width: 1199px) {
  .upgrade-block:last-of-type {
    position: static;
  }

  .admin-wrapper {
    width: 100%;
  }

  .admin-contents {
    min-height: rem(768px);
  }

  .admin-menu__tab {
    width: 33.33%;
  }

  .admin-menu__link {
    width: 100%;
  }

  .add-article__text {
    width: rem(500px);
    height: rem(300px);
  }
}


/*__________media for iphone____________*/


@media screen and (max-width: 767px) {

  .admin-wrapper {
    padding: 0;
  }

  .admin-top__link {
    float: none;
    display: block;
    width: rem(150px);
    font-size: rem(14px);
    line-height: rem(24px);
    margin: rem(12px) auto rem(6px);
    text-align: center;
  }

  .admin-top__title {
    float: none;
    font-size: rem(21px);
    width: rem(290px);
    margin: 0 auto rem(12px);
    line-height: rem(24px);
    text-align: center;
  }

  .admin-menu {
    height: auto;
  }

  .admin-menu__tab {
    display: block;
    width: 100%;
    height: rem(45px);
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(#fff, .7);
    &:last-child {
      border-bottom: none;
    }
  }

  .admin-menu__link {
    font-size: rem(14px);
    line-height: rem(45px);
    height: rem(45px);
  }

  .contents-page {
    padding: 0 rem(10px);
  }

  .contents-page__title {
    margin: rem(28px) 0;
  }

  .upgrade-block__title, .upgrade-block__label {
    font-size: rem(14px);
  }

  .add-article__text {
    width: rem(300px);
    height: rem(250px);
  }

  .add-article__input, .add-project__input, .add-project__image {
    font-size: rem(14px);
  }

  .skills-upgrade__submit, .add-article__submit, .add-project__submit {
    bottom: rem(-40px);
    font-size: rem(14px);
    width: rem(110px);
    height: rem(40px);
  }

  .add-project {
    padding-bottom: rem(20px);
  }
}