@import "../variables";
@import "../mixins";
@import "../animation";
@import "components/works_footer";
@import "components/works_header";

.main-works {
  width: 100%;
}

.works-name {
  width: 100%;
  height: rem(184px);
  text-align: center;
  background-color: #faf8f0;
}
.works-name-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.works-name__title {
  position: relative;
  display: inline-block;
  margin-top: rem(52px);
  font-family: 'Bernier', sans-serif;
  font-size: rem(63px);
  color: #393e42;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(#000, .35);
    top: 50%;
    margin-top: -0.175rem;
  }
  &::before {
    left: -2.5rem;
  }
  &::after {
    right: -2.5rem;
  }
}

.svg-works_header-dims {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10%;
  left: 0;
  margin: auto;
  width: rem(490px);
  height: 90%;
  fill: rgba(#000, .07);
}

/**** works & slider section ****/

.works-gallery {
  position: relative;
  width: 100%;
  height: rem(750px);
  @include clearfix;
}
.works-desc {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f0efe9;
}
.desc-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
//.desc-wrapper_active {
//  display: block;
//}
.desc-block {
  width: rem(420px);
  height: rem(252px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.site-name {
  width: 100%;
  text-align: center;
  //border: 1px solid red;
  height: 125px;
  @include tablet {
    height: 100px;
  }
  @include phone {
    height: 75px;
  }
  overflow: hidden;
}

.site-name__title {
  position: relative;
  display: inline-block;
  width: rem(290px);
  font-family: 'Bernier', sans-serif;
  font-size: rem(35px);
  color: transparent;
  span {
    font-family: 'Bernier', sans-serif;
    color: $titlecolor;
    font-size: 14px;
    line-height: 50px;
    transition: font-size .05s;
    @include tablet {
      line-height: 40px;
    }
    @include phone {
      line-height: 30px;
    }
  }
  text-transform: uppercase;
  margin: 0 0 rem(40px);
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(#000, .35);
    top: rem(17.5px);
  }
  &::before {
    left: -2rem;
  }
  &::after {
    right: -2rem;
  }
}

.desc-block__tech {
  color: $green100;
  text-transform: uppercase;
  font-size: rem(16px);
  text-align: center;
  padding: rem(16px) 0;
  margin: 0 0 rem(40px);
  border-top: 1px solid $green100;
  border-bottom: 1px solid $green100;
}

.desc-block__link {
  position: relative;
  text-decoration: none;
  font-size: rem(16px);
  width: rem(199px);
  height: rem(45px);
  line-height: rem(43px);
  padding-left: rem(25px);
  color: #fff;
  background-color: $green100;
  display: inline-block;
  border: 1px solid transparent;
  @include border-radius(.35rem);
  transition: background-color .2s, color .2s, border .2s;
  &:hover {
    background-color: #fff;
    color: $green100;
    border: 1px solid $green100;
    .svg-link-dims {
      fill: $green100;
    }
  }
  &:active {
    top: 2px;
  }
  &:focus {
    outline: none;
  }
}

.svg-link-dims {
  position: absolute;
  top: 50%;
  margin-top: rem(-10px);
  left: rem(15px);
  width: rem(20px);
  height: rem(20px);
  fill: #fff;
  @include transition(fill .2s);
}

.works-slides {
  width: 50%;
  height: 100%;
  float: right;
  background-color: #efebe0;
}

.works-image {
  position: relative;
  height: 70%;
}
.works-image__list {
  padding: 0;
  margin: auto;
  position: absolute;
  list-style: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.works-image__item {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  opacity: 0;
  @include transition(opacity .3s);
}
.works-image__item_active {
  opacity: 1;
}
.works-image__item span {
  font-size: rem(40px);
  display: block;
  position: absolute;
  width: rem(40px);
  height: rem(60px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.works-image__pic {
  max-width: 100%;
  max-height: 100%;
}
.works-controls {
  position: relative;
  height: 30%;
  font-size: 0;
}
.controls-prev, .controls-next {
  position: relative;
  width: 50%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.controls-prev__list, .controls-next__list,
.controls-prev__item, .controls-next__item{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.controls-prev__item, .controls-next__item {
  @include transition(transform .3s linear);
  z-index: -1;
}
.controls-prev__item {
  transform: translateY(-350px);
}
.controls-next__item {
  transform: translateY(350px);
}
.move-down {
  transform: translateY(350px);
  z-index: 0;
}
.move-up {
  transform: translateY(-350px);
  z-index: 0;
}
.controls-prev__item_active, .controls-next__item_active {
  transform: translateY(0);
  z-index: 1;
}
.controls__span {
  display: block;
  position: absolute;
  z-index: 3;
  width: rem(72px);
  height: rem(162px);
  font-size: rem(122px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: darkmagenta;
  @include tablet {
    width: rem(62px);
    height: rem(142px);
    font-size: rem(102px);
  }
  @include phone {
    width: rem(35px);
    height: rem(102px);
    font-size: rem(62px);
    line-height: rem(102px);
  }
}
.controls-prev__pic, .controls-next__pic {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.controls-prev-mask, .controls-next-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.controls-prev-mask {
  background-image: radial-gradient(center, rgba(#cac9c4, .7), rgba(#c1c0bb, .7));
  background-color: rgba(#cac9c4, .5);
}
.controls-next-mask {
  background-image: radial-gradient(center, rgba(#c0bdb5, .7), rgba(#b1aea6, .7));
  background-color: rgba(#c0bdb5, .5);
}
.svg-portf_arrow_down, .svg-portf_arrow_up {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: rem(46px);
  height: rem(30px);
  fill: #fff;
  @include transition(transform .2s ease-out);
  @include tablet {
    width: rem(32px);
    height: rem(20px);
  }
}
.controls-prev, .controls-next {
  &:hover {
    .svg-portf_arrow_down {
      transform: translateY(80px);
      @include tablet {
        transform: translateY(60px);
      }
      @include phone {
        transform: translateY(30px);
      }
    }
    .svg-portf_arrow_up {
      transform: translateY(-80px);
      @include tablet {
        transform: translateY(-60px);
      }
      @include phone {
        transform: translateY(-30px);
      }
    }
  }
  &:active {
    .svg-portf_arrow_down {
      transform: translateY(75px);
      @include tablet {
        transform: translateY(55px);
      }
      @include phone {
        transform: translateY(25px);
      }
    }
    .svg-portf_arrow_up {
      transform: translateY(-75px);
      @include tablet {
        transform: translateY(-55px);
      }
      @include phone {
        transform: translateY(-25px);
      }
    }
  }
}
/**** opinion section ****/

.opinion {
  position: relative;
  width: 100%;
  height: rem(1280px);
  //background: url(../img/bg.jpg) no-repeat;
  //background-size: cover;
  overflow: hidden;
}
.opinion-name {
  width: 100%;
  text-align: center;
}

.svg-about_header {
  position: absolute;
  top: rem(30px);
  left: 0;
  right: 0;
  margin: auto;
  fill: rgba(#000, .07);
  width: rem(500px);
}

.opinion-name__title {
  position: relative;
  width: rem(290px);
  font-family: 'Bernier', sans-serif;
  font-size: rem(63px);
  display: inline-block;
  color: #393e42;
  margin: rem(50px) 0 0 0;
  padding: 0;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(#000, .35);
    top: rem(31.5px);
  }
  &::before {
    left: -2rem;
  }
  &::after {
    right: -2rem;
  }
}

.opinion-items {
  position: relative;
  width: rem(760px);
  margin: rem(50px) auto;
  font-size: 0;
}

.opinion-item {
  display: inline-block;
  vertical-align: top;
  width: rem(370px);
  margin-right: rem(20px);
  font-size: 0;
  &:last-child {
    margin-right: 0;
  }
}

.opinion-item__text {
  font-size: rem(16px);
  color: $titlecolor;
  margin: 0 0 rem(26px) 0;
  &::before {
    content:'\F10D';
    font-size: rem(36px);
    display: block;
    font-family: 'Font Awesome', sans-serif;
    color: rgba(#000, .3);
    margin-bottom: rem(30px);
  }
}
.author-avatar {
  display: inline-block;
  vertical-align: middle;
  width: rem(80px);
  height: rem(80px);
  @include border-radius(50%);
  overflow: hidden;
  margin-right: rem(20px);
}
.author-avatar__image {

}
.author {
  display: inline-block;
  vertical-align: middle;
  width: rem(270px);
}
.author__name {
  font-size: rem(16px);
  color: $green100;
  margin: 0;
}

.author__occ {
  font-size: rem(16px);
  color: $green100;
  font-weight: 200;
  margin: 0;
}

/*** connect form ***/
.blur-bg {
  position: absolute;
  bottom: 0;
  min-width: 900px;
}
.blur-bg__image {
  display: block;
  max-width: 100%;
}

.connect-form {
  display: block;
  margin: 0 auto;
  position: relative;
  width: rem(382px);
  height: rem(450px);
  //@include border-radius(.50rem);
  overflow: hidden;
  font-size: 0;
  //border: 1px solid red;
}


.connect-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.connect-form__title, .connect-form__label,
.connect-form__input, .connect-form__text,
.connect-form__submit, .connect-form__reset {
  position: relative;
  z-index: 1;
}

.connect-form__title {
  position: relative;
  width: rem(270px);
  margin: rem(35.5px) auto;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(35px);
  font-family: 'Bernier', sans-serif;
  &::before, &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 0.35rem;
    position: absolute;
    background-color: rgba(#000, .35);
    top: rem(17.5px);
  }
  &::before {
    left: -2rem;
  }
  &::after {
    right: -2rem;
  }
}

.connect-form__input, .connect-form__text {
  display: block;
  height: rem(46px);
  width: rem(342px);
  font-size: rem(16px);
  border: 1px solid $green100;
  @include border-radius(.35rem);
  margin: 0 auto rem(20px);
  padding-left: 1rem;
  &::-webkit-input-placeholder {
    color: #9b9ea0;
  }
  &:-moz-placeholder {
    color: #9b9ea0;
  }
  &::-moz-placeholder {
    color: #9b9ea0;
  }
  &:-ms-input-placeholder {
    color: #9b9ea0;
  }
  &:focus {
    outline: none;
    border-color: skyblue;
    @include box-shadow(0 0 1px 1px #fff);
  }
}
.connect-form__text {
  padding-top: 1rem;
  height: rem(140px);
  resize: none;
}

.connect-form__submit, .connect-form__reset {
  outline: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: center;
  color: #fff;
  font-size: rem(16px);
  height: rem(45px);
  width: 50%;
  background-color: rgba(0, 191, 165,.85);
  &:hover {
    background-color: rgba(0, 150, 136,.85);
  }
  transition: background-color .2s;
}
.connect-form__submit {
  border-right: 1px solid rgba(#fff, .5);
  @include border-radius(0 0 0 .35rem);
}
.connect-form__reset {
  border-left: 1px solid rgba(#fff, .5);
  @include border-radius(0 0 .35rem 0);
}
.works-arrow {
  position: relative;
  display: block;
  width: 100%;
  margin-top: rem(70px);
}
.svg-arrow_up {
  display: block;
  width: 1.9rem;
  height: 1.1rem;
  margin: 0 auto;
  cursor: pointer;
  fill: rgba(#fff, .5);
  transition: fill .2s;
  &:hover {
      fill: rgba(#fff, 1);
  }
}
@import "components/works_media";