@keyframes rotate3d {
  to {
    transform: rotate3d(0, 180, 0, 180deg);
  }
}
@keyframes rotate3d-reverse {
  to {
    transform: rotate3d(0, -180, 0, -180deg);
  }
}
@keyframes rotate3d-back {
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
.rotate180 {
  transform: rotateY(180deg);
}
.rotate180back {
  transform: rotateY(0deg);
}
.rotate3d {
  animation: rotate3d .9s ease;
  animation-fill-mode: forwards;
}
.rotate3d-reverse {
  animation: rotate3d-reverse .8s ease;
  animation-fill-mode: forwards;
}
.rotate3d-back {
  animation: rotate3d-back .8s ease;
  animation-fill-mode: forwards;
}
