@keyframes rotate3d {
  to {
    transform: rotate3d(0, 180, 0, 180deg);
  }
}
@keyframes rotate3d-reverse {
  to {
    transform: rotate3d(0, -180, 0, -180deg);
  }
}
@keyframes rotate3d-back {
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
.rotate180 {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.rotate180back {
  transform: translate(-50%, -50%) rotateY(0deg);
}
.rotate3d {
  animation: rotate3d .9s ease;
  animation-fill-mode: forwards;
}
.rotate3d-reverse {
  animation: rotate3d-reverse .8s ease;
  animation-fill-mode: forwards;
}
.rotate3d-back {
  animation: rotate3d-back .8s ease;
  animation-fill-mode: forwards;
}

/*************************/

@keyframes circle1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(480deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes circle2 {
  60% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes circle3 {
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle4 {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-240deg);
  }
  67% {
    transform: rotate(-480deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}