/* measures */
$r16 : 1rem;
$r20 : 1.25rem;
$r24 : 1.5rem;
$r28 : 1.75rem;
$r32 : 2rem;
$r36 : 2.25rem;
$r40 : 2.5rem;

/* colors */

$green100 : rgba(0,191,165,1);
$green50 : rgba(0,191,165,.5);
$green85 : rgba(0,191,165,.85);
$white85 : rgba(#fff,.85);
$titlecolor : #455a64;
$placeholdercolor : #9b9ea0;
$textcolor : #64767e;
$lgray : #d1d2d2;
$lgray_2 : #f0efe9;
$gray : #c4cbcd;
