* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
html {
  //position: relative;
}
@import "pages/index";
@import "pages/index_v2";
@import "pages/about";
@import "pages/about_v2";
@import "pages/blog";
@import "pages/works";
@import "pages/admin";
@import "pages/error";
@import "pages/components/message";
@import "fonts";
@import "form_validation";