footer.summary
  div.summary-menu
    if page == 'works'
      ul.summary-pages
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_works(href="#") Мои работы
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_about(href="about.html") Обо мне
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_blog(href="blog.html") Блог
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_main(href="index.html") Авторизация
    else if page == 'about'
      ul.summary-pages
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_works(href="works.html") Мои работы
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_about(href="#") Обо мне
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_blog(href="blog.html") Блог
        li.summary-pages__item
          a.summary-pages__link.summary-pages__link_main(href="index.html") Авторизация
    //else if page == 'blog'
      //ul.summary-blog-pages
      //  li.summary-blog-pages__item
        //  a.summary-blog-pages__link.summary-blog-pages__link_works(href="works.html") Мои работы
        //li.summary-blog-pages__item
        //  a.summary-blog-pages__link.summary-blog-pages__link_about(href="about.html") Обо мне
        //li.summary-blog-pages__item
        //  a.summary-blog-pages__link.summary-blog-pages__link_blog(href="#") Блог
        //li.summary-blog-pages__item
          //a.summary-blog-pages__link.summary-blog-pages__link_main(href="index.html") Авторизация
    ul.summary-social
      li.summary-social__item
        a.summary-social__link.summary-social__link_vk(href="vk.com" target="_blank")
          +use('vk_round','svg-vk_round-dims')
          +use('vk','svg-vk-dims_mask')
      li.summary-social__item
        a.summary-social__link.summary-social__link_gh(href="github.com" target="_blank")
          +use('github_round','svg-github_round-dims')
          +use('github','svg-github-dims_mask')
      li.summary-social__item
        a.summary-social__link.summary-social__link_li(href="linkedin.com" target="_blank")
          +use('in_round','svg-in_round-dims')
          +use('in','svg-in-dims_mask')
  div.summary-content
    p.summary-content__info.
      Я веб разработчик из Москвы, и этот сайт я сделал в рамках
      обучения в LoftSchool
    p.summary-content__copyright &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016