footer.summary
  div.summary__menu
    if page == 'works'
      ul.summary__pages
        li.page__item
          a.page__link_works(href="#") Мои работы
        li.page__item
          a.page__link_about(href="about.html") Обо мне
        li.page__item
          a.page__link_blog(href="blog.html") Блог
        li.page__item
          a.page__link_main(href="index.html") Авторизация
    else if page == 'about'
      ul.summary__pages
        li.page__item
          a.page__link_works(href="works.html") Мои работы
        li.page__item
          a.page__link_about(href="#") Обо мне
        li.page__item
          a.page__link_blog(href="blog.html") Блог
        li.page__item
          a.page__link_main(href="index.html") Авторизация
    else if page == 'blog'
      ul.summary__pages
        li.page__item
          a.page__link_works(href="works.html") Мои работы
        li.page__item
          a.page__link_about(href="about.html") Обо мне
        li.page__item
          a.page__link_blog(href="#") Блог
        li.page__item
          a.page__link_main(href="index.html") Авторизация
    ul.summary__social
      li.social__vk_r
        a.social__link_r(href="vk.com" target="_blank")
      li.social__gh_r
        a.social__link_r(href="github.com" target="_blank")
      li.social__li_r
        a.social__link_r(href="linkedin.com" target="_blank")
  div.summary__content
    p.summary__content__info.
      Я веб разработчик из Москвы, и этот сайт я сделал в рамках
      обучения в LoftSchool
    p.summary__content__copyright &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016