head
  meta(charset='utf-8')
  title Portfolio
  meta(content='Dmitry Gavrish' name='author')
  meta(content='Dmitry Gavrish portfolio site' name='description')
  meta(content='portfolio blog' name='keywords')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico')
  link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')
  link(rel='stylesheet' href='/assets/css/foundation.css')
  link(rel='stylesheet' href='/assets/css/app.css')
  script(src='/assets/js/foundation.js' defer)
  script(src='/assets/js/app.js' defer)
