- j++
li.controls-next__item <span class="controls__span">#{j}</span>
  - var imgPath = work.image.replace( /build\\*assets\\*img\\*/g, 'assets/img/' );
    img.controls-next__pic(src= imgPath alt="сайт")