extends ../main
block content
    main.main-about
      section.about-info
        h1.about-info__title Обо мне
        div.about-content
          img.about-content__avatar(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
          h2.about-content__title Кто я
          p.about-content__text.
            Я начинающий веб-разработчик из Москвы. Мне 23 года. Я занимаюсь разработкой
            самых разных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p.about-content__text.
            Этот сайт я сделал в рамках обучения в LoftSchool. Пока что сайт еще не готов,
            но обязательно будет.
      section.about-skills
        h2.about-skills__title Чем я могу быть вам полезен
        p.about-content__text.
          Больше всего меня привлекает Frontend разработка, но я также знаком с технологиями Backend,
          и могу решать на нем задачи легкого уровня.
        h4.about-skills__title Frontend
        div.skills-array
            div.skills-array__html5
            div.skills-array__css3
            div.skills-array__jsjq
        h4.about-skills__title Backend
        div.skills-array
          div.skills-array__php
          div.skills-array__mysql
          div.skills-array__nodejs
          div.skills-array__mongo
        h4.about-skills__title Workflow
        div.skills-array
          div.skills-array__git
          div.skills-array__gulp
          div.skills-array__bower
    section.contacts
      div.contacts-container
        div.contacts-plate
          h2.contacts-plate__title Контакты
          ul.contacts-plate__list
            li.contacts-plate__item
              span.contacts-plate__icon.contacts-plate__icon_skype
              p.contacts-plate__text dmitry.gavrish
            li.contacts-plate__item
              span.contacts-plate__icon.contacts-plate__icon_email
              p.contacts-plate__text dmitrygavrish@gmail.com
            li.contacts-plate__item
              span.contacts-plate__icon.contacts-plate__icon_phone
              p.contacts-plate__text +7 916 068 43 88
            li.contacts-plate__item
              span.contacts-plate__icon.contacts-plate__icon_loc
              p.contacts-plate__text г. Москва, Люблино
  block footer-page
    - var page = 'about'