include ../common/_mixins
extends ../main
block header
    header.header-blog
      div.header-blog-wrapper
        ul.header-blog-social
          li.header-blog-social__item
            a.header-blog-social__link.header-blog-social__link_vk-white(href="vk.com")
              +use('vk', 'svg-vk-dims_wh')
          li.header-blog-social__item
            a.header-blog-social__link.header-blog-social__link_gh-white(href="github.com")
              +use('github', 'svg-github-dims_wh')
          li.header-blog-social__item
            a.header-blog-social__link.header-blog-social__link_li-white(href="linkedin.com")
              +use('in', 'svg-in-dims_wh')
        div.about-menu
          input.about-menu__check(type="checkbox" name="checkbox" id="menu-checkbox")
          label.about-menu__label(for="menu-checkbox")
            div.about-line.about-line_top
            div.about-line.about-line_mid
            div.about-line.about-line_bot
        div.header-blog-bottom
          div.header-blog-person
            div.header-blog-avatar
              img.header-blog-avatar__image(src="assets/img/avatar_img.jpg" alt="Dmitry Gavrish")
          +use('blog_header','svg-blog_header-dims')
          div.title-wrapper
            h1.title-wrapper__title Блог
          p.header-blog-bottom__desc Статьи, которые я написал
      div.triangles_blog
        div.triangles-left_blog
        div.triangles-right_blog
      div.arrow-blog
        a.arrow-blog__down(href="#down")
          +use('arrow_down','svg-arrow_down-blog')
  block content
    div.site-menu
      ul.site-menu__list
        li.site-menu__item
          a.site-menu__link(href="works.html") Мои работы
        li.site-menu__item
          a.site-menu__link(href="#") Блог
        li.site-menu__item
          a.site-menu__link(href="about.html") Обо мне
        li.site-menu__item
          a.site-menu__link(href="index.html") Авторизоваться
    main#down.main-blog
      input.blog-menu__check(type="checkbox" name="blog-switch" id="blog-switch")
      div.label-wrapper
        label.blog-menu__switch(for="blog-switch")
      aside.blog-menu
        ul.blog-menu__list
          li.blog-menu__item.blog-menu__item_active
            a.blog-menu__link(href="#wp-1").
              Самое важное в SASS
          li.blog-menu__item
            a.blog-menu__link(href="#wp-2").
              Приемы в верстке, без которых не обоходится ни один сайт
          li.blog-menu__item
            a.blog-menu__link(href="#wp-3").
              Самый необоходимый набор Gulp плагинов
          li.blog-menu__item
            a.blog-menu__link(href="#wp-4").
              Почему я выбрал Jade (Pug)
          li.blog-menu__item
            a.blog-menu__link(href="#wp-5").
              Десять признаков того, что на сегодня верстки хватит
      section.blog-contents
        div#wp-1.blog-article
          h2.blog-article__title Самое важное в SASS
          p.blog-article__date 22 ноября 2016
          p.blog-article__text.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        div#wp-2.blog-article
          h2.blog-article__title Приемы в верстке, без которых не обоходится ни один сайт
          p.blog-article__date 13 ноября 2016
          p.blog-article__text.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        div#wp-3.blog-article
          h2.blog-article__title Самый необоходимый набор Gulp плагинов
          p.blog-article__date 25 апреля 2016
          p.blog-article__text.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        div#wp-4.blog-article
          h2.blog-article__title Почему я выбрал Jade (Pug)
          p.blog-article__date 30 октября 2016
          p.blog-article__text.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        div#wp-5.blog-article
          h2.blog-article__title Десять признаков того, что на сегодня верстки хватит
          p.blog-article__date 1 января 2016
          p.blog-article__text.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
block footer-page
    - var page = 'blog'
block footer
  footer.summary-blog
    div.summary-blog-menu
      ul.summary-blog-pages
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_works(href="works.html") Мои работы
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_about(href="about.html") Обо мне
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_blog(href="#") Блог
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_main(href="index.html") Авторизация
      ul.summary-blog-social
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_vk(href="vk.com" target="_blank")
            +use('vk_round','svg-vk_round-blog')
            img.summary-blog__icon(src="assets/img/vk.png" alt="vk icon")
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_gh(href="github.com" target="_blank")
            +use('github_round','svg-github_round-blog')
            img.summary-blog__icon(src="assets/img/github.png" alt="github icon")
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_li(href="linkedin.com" target="_blank")
            +use('in_round','svg-in_round-blog')
            img.summary-blog__icon(src="assets/img/in.png" alt="linkedin icon")
    div.summary-blog-content
      p.summary-blog-content__info.
        Я веб разработчик из Москвы, и этот сайт я сделал в рамках
        обучения в LoftSchool
      p.summary-blog-content__copyright &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016
