extends ../main
block header
    header.header
      div.header-top
        div.header-social
          a.header-social__link.header-social__link_vk-white(href="vk.com")
          a.header-social__link.header-social__link_gh-white(href="github.com")
          a.header-social__link.header-social__link_li-white(href="linkedin.com")
        div.header-menu
          a.header-menu__link
      div.header-bottom
        div.header-avatar
          img.header-avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
        h1.header-bottom__title Блог
        p.header-bottom__desc Статьи, которые я написал
  block content
    main.main-blog
      aside.blog-menu
        ul.blog-menu__list
          li.blog-menu__item
            a.blog-menu__link(href="#wp-1")
          li.blog-menu__item
            a.blog-menu__link(href="#wp-2")
          li.blog-menu__item
            a.blog-menu__link(href="#wp-3")
          li.blog-menu__item
            a.blog-menu__link(href="#wp-4")
          li.blog-menu__item
            a.blog-menu__link(href="#wp-5")
      section.blog-contents
        div#wp-1.blog-article
          h2.blog-article__title
          p.blog-article__date
          p.blog-article__text
        div#wp-2.blog-article
          h2.blog-article__title
          p.blog-article__date
          p.blog-article__text
        div#wp-3.blog-article
          h2.blog-article__title
          p.blog-article__date
          p.blog-article__text
        div#wp-4.blog-article
          h2.blog-article__title
          p.blog-article__date
          p.blog-article__text
        div#wp-5.blog-article
          h2.blog-article__title
          p.blog-article__date
          p.blog-article__text
  block footer-page
    - var page = 'blog'