extends ../main-index
block header
    header.header.authorize
      div.authorize-button
        a.authorize-button__link Авторизоваться
  block content
    main.main.main-welcome
      div.welcome-plate
        div.welcome-top
          div.plate-avatar
            img.plate-avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
          h1.welcome-plate__title Дмитрий Гавриш
          p.welcome-plate__description Личный сайт веб-разработчика
          ul.plate-social
            li.plate-social__item
              a.plate-social__link.plate-social__link_vk(href="vk.com" target="_blank")
                +use('vk', 'svg-vk-dims')
            li.plate-social__item
              a.plate-social__link.plate-social__link_gh(href="github.com" target="_blank")
                +use('github', 'svg-github-dims')
            li.plate-social__item
              a.plate-social__link.plate-social__link_li(href="linkedin.com" target="_blank")
                +use('in', 'svg-in-dims')
        ul.plate-menu
          li.plate-menu__item
            a.plate-menu__link.plate-menu__link_works(href="works.html") Мои работы
          li.plate-menu__item
            a.plate-menu__link.plate-menu__link_about(href="about.html") Обо мне
          li.plate-menu__item
            a.plate-menu__link.plate-menu__link_blog(href="blog.html") Блог
      div.authorize-plate
        h2.authorize-plate__title Авторизуйтесь
        form.authorize-form
          label.authorize-form__label.authorize-form__label_login(for="login")
          input.authorize-form__input(type="text" name="login" id="login" placeholder="Логин")
          label.authorize-form__label.authorize-form__label_pw(for="password")
          input.authorize-form__input(type="password" name="password" id="password" placeholder="Пароль")
          label.authorize-form__c-label(for="personalize") Я человек
          input.authorize-form__c-input(type="checkbox" name="personalize" id="personalize")
          p.authorize-form__question Вы точно не робот?
          label.authorize-form__r-label(for="radio-1") Да
          input.authorize-form__r-input(type="radio" name="personalize-2" id="radio-1")
          label.authorize-form__r-label(for="radio-2") Не уверен
          input.authorize-form__r-input(type="radio" name="personalize-2" id="radio-2")
          div.form-menu
            input.form-menu__input.form-menu__input_reset(type="reset" name="reset" value="На главную")
            input.form-menu__input.form-menu__input_submit(type="submit" name="submit" value="Войти")
   block footer
    footer.footer.copyright
      p.copyright__text &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016