include ../common/_mixins
doctype html
html(lang="ru-RU")
  include ../common/_head
  body
    include ../common/_browsehappy
    header.authorize
      div.authorize__button
        a.authorize__link Авторизоваться
    main.main__welcome
      div.welcome__plate
        div.plate__avatar
          img.avatar__image(src="assets/img/avatar.jpg" alt="Dmitry Gavrish")
        h1.plate__name Дмитрий Гавриш
        p.plate__description Личный сайт веб-разработчика
        div.plate__social
          div.social__vk
            a.social__link(href="vk.com" target="_blank")
          div.social__gh
            a.social__link(href="github.com" target="_blank")
          div.social__li
            a.social__link(href="linkedin.com" target="_blank")
        div.plate__menu
          div.plate__menu__works
            a.plate__menu__link(href="works.html") Мои работы
          div.plate__menu__about
            a.plate__menu__link(href="about.html") Обо мне
          div.plate__menu__blog
            a.plate__menu__link(href="blog.html") Блог
      div.authorize__plate
        h2.authorize__header
        form.authorize__form
          label(for="login")
          input(type="text" name="login" id="login" placeholder="Логин")
          label(for="password")
          input(type="password" name="password" id="password" placeholder="Пароль")
          label(for="personalize") Я человек
          input(type="checkbox" name="personalize" id="personalize")
          p.form__question Вы точно не робот?
          label(for="radio-1") Да
          input(type="radio" name="personalize-2" id="radio-1")
          label(for="radio-2") Не уверен
          input(type="radio" name="personalize-2" id="radio-2")
          div.form__menu
            input(type="reset" name="reset" value="На главную")
            input(type="submit" name="submit" value="Войти")
    footer.copyright
      p.copyright__text &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016

