extends ../main
  block content
    main.main__works
      h1.works__title Мои работы
      section.works__description
        h2.works__name
        p.works__tech
        a.works__link(href="#" target="_blank")
      section.works__slides
        div.works__image
        div.works__controls
          div.controls__prev
          div.controls__next
      section.opinion
        h2.opinion__title Что обо мне говорят
        div.opinion__items
          div.opinion__item
            blockquote.opinion__text
            div.opinion__author
              img.opinion__avatar
            p.opinion__author__name
            p.opinion__author__prof
          div.opinion__item
            blockquote.opinion__text
            div.opinion__author
              img.opinion__avatar
            p.opinion__author__name
            p.opinion__author__prof
        form.connect__form
          h3.connect__title Связаться со мной
          label
            input(type="text" name="name" id="name" placeholder="Имя")
          label
            input(type="email" name="email" id="email" placeholder="Email")
          textarea(name="message" id="message" placeholder="Ваше сообщение")
          input(type="submit" name="submit" value="Отправить")
          input(type="reset" name="reset" value="Очистить")
        div.arrow_up
   block footer-page
    - var page = 'works'

