extends ../main-works
block header
  header.about-header
    div.about-header-top
      ul.about-social
        li.about-social__item
          a.about-social__link.about-social__link_vk(href="vk.com")
            +use('vk', 'svg-vk-about')
        li.about-social__item
          a.about-social__link.about-social__link_gh(href="github.com")
            +use('github', 'svg-github-about')
        li.about-social__item
          a.about-social__link.about-social__link_li(href="linkedin.com")
            +use('in', 'svg-in-about')
      div.about-menu
        input.about-menu__check(type="checkbox" name="checkbox" id="menu-checkbox")
        label.about-menu__label(for="menu-checkbox")
          div.about-line.about-line_top
          div.about-line.about-line_mid
          div.about-line.about-line_bot
    div.about-header-bottom
      +use('portfolio_header', 'svg-portfolio_header-about')
      div.about-person
        div.about-avatar
          img.about-avatar__image(src="assets/img/avatar_img.jpg" alt="Dmitry Gavrish")
        h3.about-person__title Дмитрий Гавриш
        p.about-person__desc Личный сайт веб-разработчика
    div.about-arrow
      div.about-arrow__down
        +use('arrow_down','svg-arrow_down-about')
    div.about-triangles
      div.triangles-left_works
      div.triangles-right_works
block content
    div.site-menu
      ul.site-menu__list
        li.site-menu__item
          a.site-menu__link(href="#") Мои работы
        li.site-menu__item
          a.site-menu__link(href="blog.html") Блог
        li.site-menu__item
          a.site-menu__link(href="about.html") Обо мне
        li.site-menu__item
          a.site-menu__link(href="index.html") Авторизоваться
    main.main-works
      div.works-name
        div.works-name-wrapper
          h1.works-name__title Мои работы
          +use('works_header','svg-works_header-dims')
      section.works-gallery
        div.works-desc
          div.desc-block
            div.site-name
              h2.site-name__title Сайт школы онлайн образования
            p.desc-block__tech html, css, javascript
            a.desc-block__link(href="#" target="_blank") Посмотреть сайт
              +use('link', 'svg-link-dims')
        div.works-slides
          div.works-image
            img.works-image__pic(src="assets/img/portfolio_1.png" alt="сайт")
          div.works-controls
            div.controls-prev
              img.controls-prev__pic(src="assets/img/portfolio_2.png" alt="сайт")
              div.controls-prev-mask
              +use('portf_arrow_down', "svg-portf_arrow_down")
            div.controls-next
              img.controls-next__pic(src="assets/img/portfolio_3.png" alt="сайт")
              div.controls-next-mask
              +use('portf_arrow_up', "svg-portf_arrow_up")
      section.opinion
        div.opinion-name
          +use('about_header', 'svg-about_header')
          h2.opinion-name__title Что обо мне говорят
        div.opinion-items
          div.opinion-item
            blockquote.opinion-item__text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
              2 месяца только самых тяжелых испытаний и бессонных ночей!
            div.opinion-author
              div.author-avatar
                img.author-avatar__image(src="assets/img/author_1.png" alt="Дмитрий Ковальчук")
              div.author
                p.author__name Ковальчук Дмитрий
                p.author__occ основатель Loftschool
          div.opinion-item
            blockquote.opinion-item__text.
              Этот код выдержит любые испытания.
              Только пожалуйста, не загружайте сайт на слишком старых браузерах!
            div.opinion-author
              div.author-avatar
                img.author-avatar__image(src="assets/img/author_2.png" alt="Зар Захаров")
              div.author
                p.author__name Зар Захаров
                p.author__occ главный преподаватель
        form.connect-form
          div.form-mask
            div.mask-bg
          h3.connect-form__title Связаться со мной
          label.connect-form__label
            input.connect-form__input(type="text" name="name" id="name" placeholder="Имя")
          label.connect-form__label
            input.connect-form__input(type="email" name="email" id="email" placeholder="Email")
          textarea.connect-form__text(name="message" id="message" placeholder="Ваше сообщение")
          input.connect-form__submit(type="submit" name="submit" value="Отправить")
          input.connect-form__reset(type="reset" name="reset" value="Очистить")
        div.works-arrow
          +use('portf_arrow_up', "svg-arrow_up")
block footer-page
    - var page = 'works'
block footer
  footer.summary-works
    div.summary-blog-menu
      ul.summary-blog-pages
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_works(href="works.html") Мои работы
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_about(href="about.html") Обо мне
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_blog(href="#") Блог
        li.summary-blog-pages__item
          a.summary-blog-pages__link.summary-blog-pages__link_main(href="index.html") Авторизация
      ul.summary-blog-social
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_vk(href="vk.com" target="_blank")
            +use('vk_round','svg-vk_round-blog')
            img.summary-blog__icon(src="assets/img/vk.png" alt="vk icon")
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_gh(href="github.com" target="_blank")
            +use('github_round','svg-github_round-blog')
            img.summary-blog__icon(src="assets/img/github.png" alt="github icon")
        li.summary-blog-social__item
          a.summary-blog-social__link.summary-blog-social__link_li(href="linkedin.com" target="_blank")
            +use('in_round','svg-in_round-blog')
            img.summary-blog__icon(src="assets/img/in.png" alt="linkedin icon")
    div.summary-blog-content
      p.summary-blog-content__info.
        Я веб разработчик из Москвы, и этот сайт я сделал в рамках
        обучения в LoftSchool
      p.summary-blog-content__copyright &copy; Дмитрий Гавриш | создано с любовью в LoftSchool | 2016

