extends ../main
  block content
    main.main-works
      h1.main-works__title Мои работы
      section.works-desc
        h2.works-desc__title
        p.works-desc__tech
        a.works-desc__link(href="#" target="_blank")
      section.works-slides
        div.works-image
        div.works-controls
          div.controls-prev
          div.controls-next
      section.opinion
        h2.opinion__title Что обо мне говорят
        div.opinion-items
          div.opinion-item
            blockquote.opinion-item__text
            div.opinion-author
              img.opinion-author__avatar
              p.opinion-author__name
              p.opinion-author__occ
          div.opinion-item
            blockquote.opinion-item__text
            div.opinion-author
              img.opinion-author__avatar
              p.opinion-author__name
              p.opinion-author__occ
        form.connect-form
          h3.connect-form__title Связаться со мной
          label.connect-form__label
            input.connect-form__input(type="text" name="name" id="name" placeholder="Имя")
          label.connect-form__label
            input.connect-form__input(type="email" name="email" id="email" placeholder="Email")
          textarea.connect-form__text(name="message" id="message" placeholder="Ваше сообщение")
          input.connect-form__submit(type="submit" name="submit" value="Отправить")
          input.connect-form__reset(type="reset" name="reset" value="Очистить")
        div.arrow
          div.arrow__up
   block footer-page
    - var page = 'works'

